altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
curl-cffi
distro
duckduckgo-search
exceptiongroup
gitdb
gitpython
groq
h11
httpcore
httpx
idna
jinja2
jsonschema
jsonschema-specifications
markdown-it-py
markupsafe
mdurl
numpy
ollama
openai
orjson
packaging
pandas
pgvector
phidata
pillow
protobuf
psycopg
psycopg-binary
psycopg2-binary
pyarrow
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pygments
pypdf
python-dateutil
python-dotenv
pytz
pyyaml
referencing
requests
rich
rpds-py
shellingham
six
smmap
sniffio
soupsieve
sqlalchemy
streamlit
tenacity
toml
tomli
toolz
tornado
tqdm
typer
typing-extensions
tzdata
urllib3
flask
uuid
qiskit
qiskit-aer
qiskit-ibm-runtime
plotly
matplotlib
flask-cors
whisper
pyaudio